

<div class="leaderboard-container">
    <h1>Badminton League Leaderboard</h1>

    <table class="leaderboard-table">
    <thead>
        <tr>
        <th>Rank</th>
        <th>Player</th>
        <th>Wins</th>
        <th>Losses</th>
        </tr>
    </thead>

    <tbody>
        <% @leaderboard.ranked_players.each_with_index do |player, index| %>
        <tr>
            <td><%= index + 1 %></td>
            <td><%= player.name %></td>
            <td><%= player.wins %></td>
            <td><%= player.losses %></td>
        </tr>
        <% end %>
    </tbody>
    </table>
    <div class="pagination-container">
         <%= will_paginate @players %>
    </div>
</div>
